/* navbar */

nav{
    font-family: 'Raleway', sans-serif;
}

.menu-itms{
    color: black !important;
}

nav ul li a:hover{
     background-color: #d0cdff;
}

@media screen and (max-width: 575px){
    
    nav img{
        width: 100px;
    }

    .menu-itms{
        font-size: 14px;
    }

}

@media screen and (max-width: 440px){

    nav img{
        width: 70px;
    }

    .menu-itms{
        font-size: 10px;
    }

}

/* body */

/* body head */
.body-head h2{
    font-family: 'Raleway', sans-serif;
}

.body-head img{
    width: 100%;
}

.btn{
    background-color: hsl(224, 93%, 58%) !important;
}

#email{
    outline: none;
}

@media screen and (max-width: 360px){

    .flex-col-rev{
        display: flex;
        flex-direction: column-reverse;
    }

}


/* body mid */
.body-mid h2{
    font-family: 'Raleway', sans-serif;
}

.body-mid #iimmgg img{
    width: 100%;
}

.see-how{
    color:  hsl(170, 45%, 43%);
}

.hov2 a:hover{
    color: hsl(170, 45%, 43%);
    filter: brightness(120%);
}

.body-mid .avatar{
    width: 30px;
    height: 30px;
}

.body-mid .size h5{
    font-size: 10px;
}

.body-mid .size p{
    font-size: 8px;
}

@media screen and (max-width: 360px){

    .ffff h2{
        font-size: 18px;
    }

    .ffff p{
        font-size: 16px;
    }

}

/* body footer */
.body-fc{
    background-color: hsl(238, 22%, 44%);
}

.body-fc .btn-text{
    font-size: 16px;
}

.body-fc h3{
    font-family: 'Raleway', sans-serif;
}

.body-fc p{
    font-family: 'Open Sans', sans-serif;
}

/* .body-fc #email{
    border-radius: 5px;
} */

@media screen and (max-width: 440px){

    .body-fc p{
        font-size: 16px;
    }

}


/* footer */
.footer-con{
    background-color: hsl(243, 87%, 12%);
}

.footer-logo img{
    width: 170px;
}


.social h3:hover{
    cursor: pointer;
    color: hsl(224, 93%, 58%);
}

.social p:hover{
    cursor: pointer;
    color: hsl(224, 93%, 58%);
}

.button-hov:hover{
    filter: brightness(150%);
}